body {
	background-color: rgb(64, 46, 27);
}
header {
    color: rgb(1, 0, 3);
    width:100%; 
    font-family: bookman-jf-pro, serif;
    text-align: center;
    font-size: 10vw;
    letter-spacing: -.02em;

}
Header .First-letter{
    font-feature-settings: "swsh" 1;
}


header::selection {
    color: rgb(235, 116, 75);
    background: transparent;
}

header .First-letter::selection {
    color: rgb(235, 116, 75);
    background: transparent;
}






