div.footer{
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -90vh;
    width: 100%;
    height: 1rem; 
    text-align: right;

}
.footer:hover{
    font-style: italic;
}
a:link {
    color: black;
}
a:hover {
    font-style: italic;
}

a::selection {
    color: rgb(235, 116, 75);
    background: transparent;
}
.footer::selection{
    color: rgb(235, 116, 75);
    background: transparent;
}


@media (max-width: 750px) {
    div.footer{
        text-align: center;
    }
  }